.elementor-add-new-section .elementor-add-elm-button {
    background-color: #3f51b5;
    margin-left: 5px;
    font-size: 27px;
    vertical-align: bottom;
    font-family: Arial,Helvetica,sans-serif;
    display: inline-flex;
    width: unset;
    /* border-radius: 4px; */
    padding: 0 8px;
}

.elementor-add-new-section .elementor-add-elm-button-text {
    padding-left: 0;
    padding-right: 0;
    font-size: 0;
    text-transform: capitalize;
}
