.elementor-add-new-section .elementor-add-ha-button {
    background-color: #5636d1;
    margin-left: 5px;
    font-size: 18px;
    vertical-align: bottom;
}

/*.add-elementskit-template {
	border-radius: 5px;
	height: 40px;
	 width: 40px; 
	margin-left: 5px;
	color: #fff;
	border: none;
	background-color: #8bc34a;
	line-height: 40px;
	padding-left: 2px;
	cursor: pointer;
	 min-width: 135px; 
	font-family: Arial,Helvetica,sans-serif;
	display: flex;
	align-items: center;
	padding-left: 10px;
	justify-content: space-around;
	padding-right: 10px;
}

.add-elementskit-template.ekit-wid-con:before {content: '\e800';font-family: "UltraAddons Icons";font-size: 25px;}

.add-elementskit-template.ekit-wid-con:after {content: "Library";padding-left: 10px;padding-right: 2px;}


.elementor-add-new-section {
	display: inline-flex;
	position: relative;
	padding-bottom: 30px
}

.add-elementskit-template {
	order: 4
}

.elementor-add-section-drag-title {
	bottom: 0;
	width: 100%;
	position: absolute;
	left: 0
}*/