.advance-heading-wrapper{
    text-align: left;
}
.advance-heading-wrapper.center{
    text-align: center;
}
.advance-heading-wrapper.right{
    text-align: right;
}

.advance-heading-wrapper span.sub-heading-wrapper {
    font-family: 'Roboto';
    display: block;
    font-size: 18px;
    color: #0fc392;
    color: var(--medilac-primary);
    line-height: 1;
    z-index: 2;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}
/*.advance-heading-wrapper.center span.sub-heading-wrapper{padding: 0 10px;}
.advance-heading-wrapper.right span.sub-heading-wrapper{padding: 0 0 0 10px;}*/


.advance-heading-wrapper.center span.sub-heading-wrapper:after {
    right: 0;
}

.advance-heading-wrapper.left span.sub-heading-wrapper:before,
.advance-heading-wrapper.right span.sub-heading-wrapper:after {
    width: 0;
    display: none;
}

.advance-heading-wrapper .heading-tag {
    font-family: 'Roboto';
    font-size: 46px;
    color: #021429;
    color: var(--medilac-deep-dark);
    font-weight: 800;
    line-height: 1.217;
    margin: 0;
}

.advance-heading-wrapper span.sub-heading-wrapper:before,
.advance-heading-wrapper span.sub-heading-wrapper:after {
    content: "";
    display: inline-block;
    position: relative;
    width: 100px;
    vertical-align: middle;
}
.advance-heading-wrapper.center span.sub-heading-wrapper span.spb {
    margin: 0 20px;
}
.advance-heading-wrapper.left span.sub-heading-wrapper span.spb {
    margin-right: 20px;
    margin-left: 0 !important;
}
.advance-heading-wrapper.right span.sub-heading-wrapper span.spb {
    margin-right: 0 !important;
    margin-left: 20px;
}