.ultraaddons-button-wrapper{display: inline;}
.ultraaddons-button-wrapper.fullwidth,
.ultraaddons-button-wrapper.center,
.ultraaddons-button-wrapper.left,
.ultraaddons-button-wrapper.right{
    display: block;
    width: 100%;
}
.ultraaddons-button-wrapper .ultraaddons-button {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    background-color: #0fc392;
    background-color: var(--medilac-primary);;
    padding: 16px 32px;
    border: 2px solid transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.ultraaddons-button-wrapper .ultraaddons-button.xs{padding: 4px 18px;}
.ultraaddons-button-wrapper .ultraaddons-button.sm{padding: 10px 25px;}
.ultraaddons-button-wrapper .ultraaddons-button.md{}
.ultraaddons-button-wrapper .ultraaddons-button.lg{
    padding: 15px 46px;
    font-size: 22px;
}
.ultraaddons-button-wrapper .ultraaddons-button.xl{
    padding: 18px 75px;
    font-size: 30px;
}

.ultraaddons-button-wrapper.center .ultraaddons-button{
    
}
.ultraaddons-button-wrapper.left .ultraaddons-button{
    
}
.ultraaddons-button-wrapper.right .ultraaddons-button{
    
}
.ultraaddons-button-wrapper.fullwidth .ultraaddons-button{
    width: 100%;
}

.ultraaddons-button-wrapper .ultraaddons-button:hover {
    color: #0fc392;
    color: var(--medilac-primary);
    border-color: #0fc392;
    border-color: var(--medilac-primary);;
    background-color: transparent;
}

.ultraaddons-button-wrapper.right {
    text-align: right;
}
.ultraaddons-button-wrapper.center {
    text-align: center;
}
.ultraaddons-button-wrapper.left {
    text-align: left;
}
.ultraaddons-element.ua-element-button .ultraaddons-button-wrapper {
    display: flex;
    column-gap: 20px;
}

.ultraaddons-element.ua-element-button .ultraaddons-button {
    display: flex;
    justify-content: center;
}
.ultraaddons-element.ua-element-button .ultraaddons-button .ultraaddons-button-icon.align-left {
    order: 5;
    margin-right: 10px;
}
.ultraaddons-element.ua-element-button .ultraaddons-button .ultraaddons-button-text {
    order: 10;
}

.ultraaddons-element.ua-element-button .ultraaddons-button .ultraaddons-button-icon.align-right {
    order: 20;
    margin-left: 10px;
}

.ultraaddons-element.ua-element-button .ultraaddons-button-wrapper.center {
    justify-content: center;
}

.ultraaddons-element.ua-element-button .ultraaddons-button-wrapper.left{
    justify-content: flex-start;
}

.ultraaddons-element.ua-element-button .ultraaddons-button-wrapper.right{
    justify-content: flex-end;
}