.ua-ultraaddons-cart .ultraaddons-cart-wrapper ul.site-elementor-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    position: relative;
}
.ua-ultraaddons-cart .ultraaddons-cart-wrapper ul.site-elementor-cart > li.minicart-content-wrapper {
    display: none;
    position: absolute;
    z-index: 10;
    width: 400px;
    top: 0;
}

.ua-ultraaddons-cart .ultraaddons-cart-wrapper ul.site-elementor-cart li.minicart-content-wrapper .widget_shopping_cart {
    background: white;
    border: 0;
    padding: 15px 25px;
    box-shadow: 0 5px 40px 0 rgb(10 10 25 / 10%);
    margin-top: 40px;
}

.ua-ultraaddons-cart .widget_shopping_cart_content ul.woocommerce-mini-cart.cart_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ua-ultraaddons-cart .widget_shopping_cart_content ul.woocommerce-mini-cart li.woocommerce-mini-cart-item.mini_cart_item a>img,
.ua-ultraaddons-cart .widget_shopping_cart_content ul.product_list_widget li a>img {
    left: 0;
    top: -10px;
}
.ua-ultraaddons-cart .widget_shopping_cart_content ul.woocommerce-mini-cart li.woocommerce-mini-cart-item.mini_cart_item {
    display: flex;
    align-items: center;
    padding: 20px 0 35px 0;
}
.ua-ultraaddons-cart .widget_shopping_cart_content ul.woocommerce-mini-cart li.woocommerce-mini-cart-item.mini_cart_item a.remove, .ua-ultraaddons-cart .widget_shopping_cart_content ul.product_list_widget li a.remove {
    position: relative;
    width: 20px;
}
.ua-ultraaddons-cart .widget_shopping_cart_content ul.woocommerce-mini-cart li.woocommerce-mini-cart-item.mini_cart_item a:not(.remove) {
    display: block;
    padding-left: 75px;
    position: relative;
}
.ua-ultraaddons-cart .widget_shopping_cart_content ul.woocommerce-mini-cart li.woocommerce-mini-cart-item.mini_cart_item span.quantity {
    right: 0;
    position: absolute;
}
.ultraaddons-cart-wrapper {}

.ultraaddons-cart-wrapper .site-elementor-cart li.cart-text-li:empty {
    display: none;
}

.ultraaddons-cart-wrapper li.cart-text-li {
    padding: 0 12px;
}

.ultraaddons-cart-wrapper .site-elementor-cart li.cart-link-li {
}

.ultraaddons-cart-wrapper li.cart-link-li a {
    text-decoration: none;
}

.ultraaddons-cart-wrapper .site-elementor-cart li.cart-link-li span.woocommerce-Price-amount.amount {
    background: #13c392;
    padding: 3px 12px;
    color: white;
}
.ua-ultraaddons-cart .ultraaddons-cart-wrapper ul.site-elementor-cart:hover > li.minicart-content-wrapper,
.elementor-element.elementor-element-edit-mode.see-hover-in-admin-yes .ultraaddons-cart-wrapper ul.site-elementor-cart > li.minicart-content-wrapper,
/*.elementor-element.see-hover-in-admin-yes .ultraaddons-cart-wrapper ul.site-elementor-cart > li.minicart-content-wrapper,*/
.ua-ultraaddons-cart .ultraaddons-cart-wrapper ul.site-elementor-cart:focus > li.minicart-content-wrapper {
    display: block;
}
.elementor-element.elementor-element-edit-mode.see-hover-in-admin-yes li.minicart-content-wrapper{}