.ua-element-icon-box .elementor-widget-container .info-title {
    color: #21272c;
    font-weight: 700;
    line-height: 1.6;
    margin: 0 0 10px;
}
.ua-element-icon-box .elementor-widget-container {
    padding: 50px;
    background: white;
}
.ua-element-icon-box .elementor-widget-container {
    box-shadow: 0px 5px 23px 0 rgb(159 160 185 / 15%);
}
.ua-element-icon-box .elementor-widget-container:hover {
    box-shadow: 0px 5px 25px 0 rgb(159 160 185 / 25%);
}


a.ua-info-box-wrapper {
    display: block;
}

@media (min-width: 768px) {
    .ua-element-icon-box.elementor-vertical-align-top .ua-info-box-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .ua-element-icon-box.elementor-vertical-align-middle .ua-info-box-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .ua-element-icon-box.elementor-vertical-align-bottom .ua-info-box-wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
}
.ua-info-box-icon .elementor-icon i, 
.ua-info-box-icon .elementor-icon svg{
    width: 1em;
    height: 1em;
    position: relative;
    display: block
}
.ua-info-box-icon .elementor-icon {
    padding: 0.5em;
}