.ultraaddons_info_box > .elementor-widget-container {
    background: #fff;
}
.ua-info-box-icon img.infobox-svg{
    width: 100px;
}

.ua-element-info-box .elementor-widget-container .info-title {
    color: #21272c;
    font-weight: 700;
    line-height: 1.6;
    margin: 0 0 10px;
}
.ua-info-box-icon {
    /* display: inline-flex; */
    /* text-align: center; */
    /* margin: 0 0 40px; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
}
.ua-info-box-content .elementor-icon-box-title {
    font-weight: 700;
    line-height: 1.6;
    font-size: 24px;
    margin-bottom: 30px;
}

.ua-info-box-content .elementor-icon-box-description {
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    font-family: var(--medilac-font-primary);
    color: #5C6B79;
    line-height: 1.6;
    margin-bottom: 40px;
}
.ua-element-info-box .elementor-widget-container {
    padding: 50px;
    background: white;
}
.ua-element-info-box .elementor-widget-container {
    box-shadow: 0px 5px 23px 0 rgb(159 160 185 / 15%);
}
.ua-element-info-box .elementor-widget-container:hover {
    box-shadow: 0px 5px 25px 0 rgb(159 160 185 / 25%);
}


a.ua-info-box-wrapper {
    display: block;
}
@media (min-width: 768px) {
    .ua-element-info-box.elementor-vertical-align-top .ua-info-box-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .ua-element-info-box.elementor-vertical-align-middle .ua-info-box-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .ua-element-info-box.elementor-vertical-align-bottom .ua-info-box-wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
}
.ua-info-box-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}
.count-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count-left{
    left: 0;
}
.count-right{
    right: 0;
}
.count-bottom{
    bottom: 0;
}
.count-top{
    top: 0;
}
