ul.ua-nav-menu.nav-menu{max-height: none;visibility:visible;overflow: visible;}
.ua-element-menu ul.ua-nav-menu {
    /*display: none;*/
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.ua-element-menu ul.ua-nav-menu li > ul{
    /*display: none;*/
    list-style: none;
}

button.ua-menu-toggle {
    /*background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItbWVudSI+PGxpbmUgeDE9IjMiIHkxPSIxMiIgeDI9IjIxIiB5Mj0iMTIiPjwvbGluZT48bGluZSB4MT0iMyIgeTE9IjYiIHgyPSIyMSIgeTI9IjYiPjwvbGluZT48bGluZSB4MT0iMyIgeTE9IjE4IiB4Mj0iMjEiIHkyPSIxOCI+PC9saW5lPjwvc3ZnPg==);*/
    /*color: #0fc392;*/
}
.ua-element-menu ul.ua-nav-menu > li {
    position: relative;
    display: block;
}
.ua-element-menu ul.ua-nav-menu li.menu-item-has-children {
    position: relative;
    margin-right: 20px;
    padding-right: 20px;
}
.ua-element-menu ul.ua-nav-menu li:after,
.ua-element-menu ul.ua-nav-menu li:before {
    content: "";
    display: block;
    clear: both;
}
.ua-element-menu ul.ua-nav-menu > li > a,
.ua-element-menu ul.ua-nav-menu .focus a,
.ua-element-menu ul.ua-nav-menu a {
    color: #21272c;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 500;
    position: relative;
    padding: 10px;
}
.ua-element-menu ul.ua-nav-menu li a {
    display: block;
}
.ua-element-menu ul.ua-nav-menu li::before {
    position: absolute;
    color: #21272c;
}
.ua-element-menu ul.ua-nav-menu li.menu-item-has-children::before {
    right: 5px;
    top: 34%;
}
.ua-element-menu ul.ua-nav-menu .menu-item-has-children::before {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}
/*.ua-element-menu ul.ua-nav-menu .focus > .available-submenu::before {
    content: "\f106";
}*/

/* Sub Menu */
/*.ua-element-menu ul.ua-nav-menu ul {
    box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}*/


@media (min-width: 37.5em){
    .ua-element-menu .ua-nav-inside button.ua-menu-toggle {
        display: none;
    }
    
}
@media only screen and (min-width: 991px){
    /*.menu-toggle,*/
    .ua-element-menu ul.ua-nav-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .ua-element-menu ul.ua-nav-menu > li > .available-submenu {
        right: -4px;
        top: 31px;
    }
    .ua-element-menu ul.ua-nav-menu .available-submenu::before {
        font-size: 14px;
    }
    .ua-element-menu ul.ua-nav-menu li > ul{
        display: none;
    }
    .ua-element-menu ul.ua-nav-menu > li > a:before {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        background-color: #0fc392;
        background-color: var(--medilac-primary);
        width: 0;
        height: 2px;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }
    .ua-element-menu ul.ua-nav-menu > li.current-menu-ancestor > a:before,
    .ua-element-menu ul.ua-nav-menu > li.current-menu-item >a:before,
    .ua-element-menu ul.ua-nav-menu > li > a:focus:before,
    .ua-element-menu ul.ua-nav-menu > li.focus > a:hover:before,
    .ua-element-menu ul.ua-nav-menu > li > a:hover:before {
        width: 100%;
        visibility: visible;
        opacity: 1;
    }
    .ua-element-menu ul.ua-nav-menu > li > a {
        padding: 30px 10px;
    }
    .ua-element-menu ul.ua-nav-menu > li.current-menu-ancestor > a,
    .ua-element-menu ul.ua-nav-menu > li.current-menu-item > a,
    .ua-element-menu ul.ua-nav-menu > li > a:focus,
    .ua-element-menu ul.ua-nav-menu > li > a:hover {
        color: #0fc392;
        outline: none;
    }
    .ua-element-menu ul.ua-nav-menu li.menu-item-has-children .sub-menu>li>a {
        display: inline-block;
        transition: 0.3s;
        font-weight: 500;
        padding: 12px 15px 12px 15px;
        color: #21272C;
        font-size: 15px;
        display: block;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        transition: 0.3s;
        border-radius: 0;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }
    .ua-element-menu ul.ua-nav-menu li:active .sub-menu,
    .ua-element-menu ul.ua-nav-menu li:hover .sub-menu,
    .ua-element-menu ul.ua-nav-menu li:focus .sub-menu,
    .ua-element-menu ul.ua-nav-menu li.menu-item-has-children.focus>ul.sub-menu,
    .ua-element-menu ul.ua-nav-menu li.focus .sub-menu {
        display: block;
        position: absolute;
        text-align: left;
        background: #fff;
        background: var(--medilac-foreground);
        z-index: 9;
        width: 200px;
        padding: 0;
        box-shadow: 0 0 10px #0000001f;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        flex-direction: column;
    }
    .ua-element-menu ul.ua-nav-menu li:hover .sub-menu .sub-menu {
        display: none;
    }
    .ua-element-menu ul.ua-nav-menu li.menu-item-has-children:hover>.sub-menu,
    .ua-element-menu ul.ua-nav-menu li.menu-item-has-children:focus>.sub-menu,
    .ua-element-menu ul.ua-nav-menu li.menu-item-has-children:active>.sub-menu {
        transition-delay: 0s;
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .ua-element-menu ul.ua-nav-menu li.menu-item-has-children .sub-menu li.menu-item-has-children .sub-menu {
        top: 0;
        left: 100%;
    }
}