.ua-news-ticker-wrap{
	display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.ua-news-ticker-wrap.bn-fixed-top{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.ua-news-ticker-wrap.bn-fixed-bottom{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.ua-news-ticker-wrap ul li {
    margin: 0;
}
.bn-controls button {
    padding: 0;
}