.elementor-portfolio .elementor-post__thumbnail {
    position: absolute;
    background-color: rgba(0,0,0,.1);
}
.elementor-portfolio .elementor-post__thumbnail {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}