.ua-price-table .ua-price-table__heading {
    margin-bottom: 0;
}
ul.ua-price-table__features-list {
    list-style: none;
    padding: 0 !important;
    margin: 0;
}
.ua-price-table__price_inner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 46px;
    font-weight: 700;
    font-family: "Roboto",sans-serif;
    color: #0FC392;
    line-height: 0.7;
}
.ua-price-table__price {

/* margin: 0 auto; */

/* border-radius: 50%; */

padding: 20px 0;

/* display: flex; */

/* flex-wrap: wrap; */

/* justify-content: center; */

/* align-items: center; */

/* transition: .3s all; */
}
.ua-price-table__original-price {
    text-decoration: line-through;
}
span.ua-price-table__period.ua-typo-excluded {
    font-size: 16px;
}
.ua-price-table .ua-price-table__button {
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    color: #021429;
    text-transform: capitalize;
    background-color: transparent;
    border: 2px solid #E2EBF1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.elementor-widget-ultraaddons_price_table .elementor-widget-container {
    border-style: solid;
}
.ua-price-table__ribbon {
    position: absolute;
    background: #0FC392;
    /* padding: 5px 20px; */
    height: 111px;
    width: 40px;
}
.ua-price-table__ribbon.ua-ribbon-right {
    /* transform-origin: center; */
    /* right: 0; */
}

.ua-price-table__ribbon.ua-ribbon-left {
    /*transform-origin: left top;*/
    /*left: 36px;*/
}
.ua-price-table__ribbon .ua-price-table__ribbon-inner {
    transform: rotate(90deg) translate(-2px, -40px);
    transform-origin: 0 0;
    width: 111px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    padding: 8px 0;
}
.ua-ribbon-bottom.ua-ribbon-left .ua-price-table__ribbon{left: 0;bottom: 0;}
.ua-ribbon-bottom.ua-ribbon-right .ua-price-table__ribbon{right: 0;bottom: 0;}
.ua-ribbon-top.ua-ribbon-left .ua-price-table__ribbon{left: 0;top: 0;}
.ua-ribbon-top.ua-ribbon-right .ua-price-table__ribbon{right: 0;top: 0;}


.ua-price-table__features-list:before {
    content: "";
    display: block;
}
/*.ua-price-table__price {
    display: flex;
    justify-content: center;
}*/
span.currency-inner-wrapper {
    display: flex;
    flex-direction: column-reverse;
    line-height: 1;
}
span.currency-inner-wrapper span.ua-price-table__currency_sep {
    display: none;
}

.elementor-align-left .ua-price-table__price_inner {
    justify-content: flex-start;
}
.elementor-align-right .ua-price-table__price_inner {
    justify-content: flex-end;
}
.elementor-align-left ul.ua-price-table__features-list:before{
    margin-left: 0 !important;
}
.elementor-align-right ul.ua-price-table__features-list:before{
    margin-right: 0 !important;
}
.ua-price-table .btn-wrapper .ua-button {
    margin: 0 auto;
}
.ua-element-price-table .elementor-widget-container{
    /*border:1px solid #E2EBF1;*/
    /* padding: 50px 30px; */
    /* background: #f7fcff; */
    /* position: relative; */
    /* overflow: hidden; */
}
.ua-angle-ribbon-yes .ua-price-table__ribbon{
    height: 200px;
    transform: rotateZ(225deg);
    top: initial;
    right: initial;
    bottom: initial;
    left: initial;
}
.ua-angle-ribbon-yes .ua-price-table__ribbon .ua-price-table__ribbon-inner{
    width: 200px;
}
.ua-angle-ribbon-yes.ua-ribbon-top.ua-ribbon-left .ua-price-table__ribbon{
    top: -54px;
    left: 27px;
    transform: rotateZ(225deg);
}
.ua-angle-ribbon-yes.ua-ribbon-bottom.ua-ribbon-left .ua-price-table__ribbon{
    bottom: -51px;
    left: 28px;
    transform: rotateZ(-45deg);
}
.ua-angle-ribbon-yes.ua-ribbon-top.ua-ribbon-right .ua-price-table__ribbon{
    top: -48px;
    right: 25px;
    transform: rotateZ(320deg);
}
.ua-angle-ribbon-yes.ua-ribbon-bottom.ua-ribbon-right .ua-price-table__ribbon{
    bottom: -49px;
    right: 26px;
    transform: rotateZ(225deg);
}
.ua-element-price-table .ua-price-table__features-list li{margin-bottom: 20px;}
.ua-element-price-table .btn-wrapper .ua-button {
    margin: 20px 0px 20px 0px;
}
.ua-price-table {
    overflow: hidden;
}
.content-wrap {
    padding: 30px;
}
.discount-percent {
    position: absolute;
    top: 0;
    right: 0;
    background: #eb0466;
    padding: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}
.elementor-widget-ultraaddons-advance-pricing-table .elementor-widget-container{min-height: 1px;}

