.mc-price-table .mc-price-table__heading {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
}
ul.mc-price-table__features-list {
    list-style: none;
    padding: 0 !important;
    margin: 0;
}
.mc-price-table__price_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 46px;
    font-weight: 700;
    font-family: "Roboto",sans-serif;
    color: #0FC392;
}
.mc-price-table__original-price {
    text-decoration: line-through;
}
span.mc-price-table__period.mc-typo-excluded {
    font-size: 16px;
}
.mc-price-table .mc-price-table__button {
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    color: #021429;
    text-transform: capitalize;
    background-color: transparent;
    border: 2px solid #E2EBF1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.elementor-widget-medilac_price_table .elementor-widget-container {
    border-style: solid;
}
.mc-price-table__ribbon {
    position: absolute;
    background: #0FC392;
    /* padding: 5px 20px; */
    height: 111px;
    width: 40px;
}
.mc-price-table__ribbon.mc-ribbon-right {
    /* transform-origin: center; */
    /* right: 0; */
}

.mc-price-table__ribbon.mc-ribbon-left {
    /*transform-origin: left top;*/
    /*left: 36px;*/
}
.mc-price-table__ribbon .mc-price-table__ribbon-inner {
    transform: rotate(90deg) translate(-2px, -40px);
    transform-origin: 0 0;
    width: 111px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    padding: 8px 0;
}
.medilac-featured-item-ribbon-bottom.medilac-featured-item-ribbon-left .mc-price-table__ribbon{left: 0;bottom: 0;}
.medilac-featured-item-ribbon-bottom.medilac-featured-item-ribbon-right .mc-price-table__ribbon{right: 0;bottom: 0;}
.medilac-featured-item-ribbon-top.medilac-featured-item-ribbon-left .mc-price-table__ribbon{left: 0;top: 0;}
.medilac-featured-item-ribbon-top.medilac-featured-item-ribbon-right .mc-price-table__ribbon{right: 0;top: 0;}

.ua-ultraaddons-price-table .mc-button.mc-size-xs {
    padding: 4px 18px 4px 18px;
}
.ua-ultraaddons-price-table .mc-button.mc-size-sm {
    padding: 10px 25px;
}
.ua-ultraaddons-price-table .mc-button.mc-size-md {
    padding: 15px 40px;
}
.ua-ultraaddons-price-table .mc-button.mc-size-lg {
    padding: 15px 46px;
    font-size: 22px;
}
.ua-ultraaddons-price-table .mc-button.mc-size-xl {
    padding: 18px 75px;
    font-size: 30px;
}

.mc-price-table__features-list:before {
    content: "";
    display: block;
}
/*.mc-price-table__price {
    display: flex;
    justify-content: center;
}*/
span.currency-inner-wrapper {
    display: flex;
    flex-direction: column-reverse;
    line-height: 1;
}
span.currency-inner-wrapper span.mc-price-table__currency_sep {
    display: none;
}

.elementor-align-left .mc-price-table__price_inner {
    justify-content: flex-start;
}
.elementor-align-right .mc-price-table__price_inner {
    justify-content: flex-end;
}
.elementor-align-left ul.mc-price-table__features-list:before{
    margin-left: 0 !important;
}
.elementor-align-right ul.mc-price-table__features-list:before{
    margin-right: 0 !important;
}

/* Dark Theme */
.pricing-table-temp-2 .elementor-widget-container {
    background-color: #272727;
}
.pricing-table-temp-2 .mc-price-table__heading,
.pricing-table-temp-2 span.mc-price-table__period.mc-typo-excluded,
.pricing-table-temp-2 .mc-price-table__features-list li,
.pricing-table-temp-2 .mc-price-table__button,
.pricing-table-temp-2 .mc-pricing-table-icon {
    color: #efefef;
}