.ua-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.ua-col-1,
.ua-col-2,
.ua-col-3,
.ua-col-4 {
	position: relative;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
}

.ua-col-1 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.ua-col-2 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.ua-col-3 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.ua-col-4 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}
@media(max-width:460px){
	.ua-col-1,
	.ua-col-2,
	.ua-col-3,
	.ua-col-4 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.pg .ua-product-card {
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin-bottom: 20px;
}

.ua-badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.ua-product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ua-product-tumb img {
     max-width: 100%; 
     max-height: 100%;
}

.ua-product-details {
    padding: 30px;
}

.ua-product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.ua-product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.ua-product-details h4 a:hover {
    color: #fbb72c;
}

.ua-product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.ua-product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.ua-product-bottom-details div {
    float: left;
    width: 50%;
}

.ua-product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.ua-product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.ua-product-links {
    text-align: right;
}

.ua-product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.ua-product-links a:hover {
    color: #fbb72c;
}