.ua-h-100 {
    height: 100%!important;
}
.ua-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    color:#111
}
.ua-card-text{
    font-size: 14px;
    color:#333
}
.ua-pb-4, .ua-py-4 {
    padding-bottom: 1.5rem!important;
}
.ua-flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.ua-d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.ua-card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.ua-flex-md-row {
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}
.ua-flex-grow-1 {
    flex-grow: 1!important;
}
button.slider-nav {
    background:transparent;
    height:100%;
    padding:0;
    margin:0;
    outline: none;
}
.ua-card-body a > h2{
color:#111;
font-size: 20px;
}
ul.slider-container {
    padding: 10px 0;
}
.ua-thumbnail {
    position: relative !important;
    width: 100%;
    display: block;
}
span.ua-onsale {
    min-height: 2em;
    min-width: 4em;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    text-align: center;
	padding: 2px;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #77a464;
    color: #fff;
    font-size: .857em;
    z-index: 9;
}
.ua-thumbnail .cart-links{
    width: 100%;
	position: absolute;
	right: 0;
	bottom: 18px;
	z-index: 9;
	padding-right: 15px;
	text-align: right;
}
.ua-thumbnail .cart-links a.add-cart span:hover {
	color:#333
}
.ua-thumbnail .cart-links a.add-card, .added_to_cart.wc-forward {
    padding-top: 8px;
    font-weight: 500;
}
.ua-thumbnail .cart-links .add-card, .added_to_cart.wc-forward {
    display: inline-table;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 60px;
    font-size: 18px;
    line-height: 18px;
    padding-top: 9px;
    overflow: hidden;
    color: #000;
    position: relative;
    -webkit-box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-align: center;
}
.ua-thumbnail .cart-links .add-card i {
    display: inline-block;
}
.ua-thumbnail .cart-links a.add-card span {
    font-size: 11px !important;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    right: 19px;
    top: 20px;
    opacity: 0;
}
.ua-thumbnail .cart-links a.add-card:hover span {
	opacity: 1;
	top: 10px;
	-webkit-transition: all 0.4s ease 0.3s;
	-o-transition: all 0.4s ease 0.3s;
	transition: all 0.4s ease 0.3s;
}
.ua-thumbnail .cart-links a.add-card:hover {
    width: 148px;
    padding: 8px 18px 0;
    text-align: left;
}
.slider-nav::before {
    padding: 0.6rem;
    width: 4rem;
    height: 4rem;
}
.slider-nav-round .slider-nav::after, .slider-nav-square .slider-nav::after {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
}
@media (min-width: 768px){
    .ua-pl-md-2, .ua-px-md-2 {
        padding-left: 0.5rem!important;
    }
    .ua-px-md-2 {
        padding-right: 0.5rem!important;
        padding-left: 0.5rem!important;
    }
}
