/*   News Section CSS
-------------------------------------------*/
/* News  Section Layout Default or layout-classic layout classic */
.recent-blog-item-wrap {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex-wrap: wrap;
}
a.mc-recent-blog-permalink.mc-recent-blog-permalink-title{display: block;}
.recent-blog-item {
    width: 32%;
    margin-bottom: 25px;
}

.recent-blog-img {
    position: relative;
}

.recent-blog-img img {
    width: 100%;
}

.recent-blog-img a.recent-blog-date {
    color: #fff;
    display: inline-block;
    background: #0FC392;
    font-family: "Work Sans", sans-serif;
    padding: 10px 20px;
    line-height: 1;
    text-align: center;
    position: absolute;
    bottom: -11px;
    left: 30px;
}

.recent-blog-info {
    border: 2px solid #EAEDF7;
    padding: 30px;
}
.recent-blog-item-wrap.thumbs-on .recent-blog-info{
    border-top: none;    
    margin: -7px 0 0;
}
.recent-blog-info h2 {
    color: #021429;
    line-height: 1.417;
    margin: 5px 0 10px;
}

.read-more {
    font-size: 18px;
    line-height: 1.444;
    font-weight: 500;
}

.recent-blog-info .read-more{
    color: #021429; 
    display: block;
}

.read-more:hover {
    color: #0FC392;
}

.read-more i {
    position: relative;
    top: 1px;
    margin-left: 5px;
}

/* News  Section Style - Layout Modern layout-modern */

.recent-blog-item-wrap.modern {
    align-items: flex-start;
}

.recent-blog-wrap-left {
    width: 48.5%;
}

.recent-blog-wrap-left .recent-blog-item {
    width: 100%;
    transition: 0.3s;
    -webkit-transition:0.3s;
}

.recent-blog-wrap-left .recent-blog-item .recent-blog-info{
    border: 1px solid #EAEDF7;
    border-top: none;
    padding: 42px;
}

.recent-blog-wrap-right {
    width: 48.5%;
}

.recent-blog-wrap-right .recent-blog-item{
    width: 100%;
    margin: 0 0 30px;

}

.recent-blog-wrap-right .recent-blog-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #EAEDF7;
}

.recent-blog-wrap-right .recent-blog-item .recent-blog-img{
    width: 30%;
}

.recent-blog-wrap-right .recent-blog-item .recent-blog-img img{
    height: 100%;
}

.recent-blog-wrap-right .recent-blog-item .recent-blog-info {
    width: 70%;
    border: none;
    padding:25px;
    margin: 0;

}

.recent-blog-info {
    background: #fff;
}

.recent-blog-item-wrap.modern .recent-blog-item:hover{
    box-shadow:0 10px 35px rgba(0,0,0,0.06)
}

.recent-blog-meta span:first-child {
    margin: 0 20px 0 0;
}

span.recent-blog-author,
span.published-date{
    color: #5C6B79;
}

span.recent-blog-author i,
span.published-date i{
    color: #0FC392;
    font-size: 14px;
    margin-right: 10px;
    position: relative;
    top: -1px;
}


.layout-modern .recent-blog-wrap-right a.mc-recent-blog-permalink.mc-recent-blog-permalink-image {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.recent-blog-item-wrap.layout-modern.date-on .recent-blog-wrap-left .recent-blog-meta,
.layout-modern .recent-blog-wrap-right a.mc-recent-blog-permalink.mc-recent-blog-permalink-image img.medilac-rcnt-post-image {
   display: none;
}