.ua-skill-chart{
  position: relative;
  display: inline-block;
  margin: 20px 10px;
  color: #999;
  font-size: 14px;
  text-align: center;
}
.ua-skill-chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}