.ua-slider-item {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: #f1f1f1;*/
    /*height: 100vh;*/
}
.slider-type-template .ua-slider-item{
    background-color: #f1f1f1;
    height: 100vh;
}
.ua-slide-content-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    /*height: 100%;*/
    width: 100%;
    padding: 180px 0;
}
.elementor-align-right.ua-element-slider .ua-slide-content-wrap {
    justify-content: flex-end;
}
.elementor-align-center.ua-element-slider .ua-slide-content-wrap {
    justify-content: center;
}
.slider-type-template .ua-slide-content-wrap{
    height: 100%;
}
.ultraaddons-slider-container-wrapper{
    /*height: 100%;*/
    width: 100%;
    margin: 0;
    padding: 0;
}
.ua-slider-item .ultraaddons-slider-container {
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}


.ua-slider-item .ultraaddons-slider-container .row {
    /* margin: 0 15px; */
}

.ua-slider-item .ua-slide-content-wrap .ua-hero-text h1 {
    color:#021429;
    font-size: 74px;
    line-height: 1.2;
}

.ua-slider-item .ua-slide-content-wrap .ua-hero-text p{
    color: #5C6B79;
}



.ua-slider-wrapper.ua-number-slider-wrapper .owl-dots{
    display: inline-block;
    bottom: auto;
    top: 34%;
    width: 50px;
    position: absolute;
    /* transform: translate(11px, -150%); */
}
.navigation-number-position-left .ua-slider-wrapper.ua-number-slider-wrapper .owl-dots{
    right: initial;
    left: 30px;
}
.navigation-number-position-right .ua-slider-wrapper.ua-number-slider-wrapper .owl-dots{
    right: 30px;
    left: initial;
}

.ua-slider-wrapper.ua-number-slider-wrapper .owl-dots button.owl-dot{
    font-size: 22px;
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    color: #0D2332;
    position: relative;
    opacity: 1;
    padding-left: 0;
    background: transparent;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 0;
    outline: none;
}

.ua-slider-wrapper.ua-number-slider-wrapper .owl-dots button.owl-dot:hover,
.ua-slider-wrapper.ua-number-slider-wrapper .owl-dots button.owl-dot:focus,
.ua-slider-wrapper.ua-number-slider-wrapper .owl-dots button.owl-dot:active{
    border-color: transparent;
}

.ua-slider-wrapper.ua-number-slider-wrapper .owl-dots button.owl-dot:after{
    position: absolute;
    left: 0;
    content: "";
    background: #0D2332;
    width: 26px;
    height: 3px;
    bottom: 0;
}

.ua-slider-wrapper.ua-number-slider-wrapper .owl-dots button.owl-dot.active{
    color: #0FC392;
}

.ua-slider-wrapper.ua-number-slider-wrapper .owl-dots button.owl-dot.active:after{
    background:#0FC392;
}

.ua-slider-wrapper .owl-nav.disabled{display: none;}

.ua-slider-wrapper .owl-stage {
    display: flex;
}
.ua-slider-wrapper .owl-stage-outer {
    overflow: hidden;
}

.ua-slider-wrapper .slider-button{
    display: inline-block;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    background-color: #0fc392;
    background-color: var(--ultraaddons-primary);
    padding: 16px 32px;
    border: 2px solid transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.ua-slider-wrapper .slider-button:hover {
    color: #0fc392;
    color: var(--ultraaddons-primary);
    border-color: #0fc392;
    border-color: var(--ultraaddons-primary);
    background-color: transparent;
}


.ua-slider-wrapper .owl-nav button{
    outline: none;
}

.ua-slider-wrapper .owl-nav {
    display: flex;
    column-gap: 15px;
}

.ua-slider-wrapper .owl-nav button {
    padding: 10px 17px;
}

.ua-slider-wrapper .owl-nav button.owl-prev {
    background: black;
    border-color: black;
}

.navigation-arrow-position-top-right .ua-slider-wrapper .owl-nav {
    position: absolute;
    top: -50px;
    right: 0px;
}
.navigation-arrow-position-top-left .ua-slider-wrapper .owl-nav {
    position: absolute;
    top: -50px;
    left: 0px;
}
.navigation-arrow-position-bottom-right .ua-slider-wrapper .owl-nav {
    position: absolute;
    bottom: -50px;
    right: 0px;
}
.navigation-arrow-position-bottom-left .ua-slider-wrapper .owl-nav {
    position: absolute;
    bottom: -50px;
    left: 0px;
}


.navigation-arrow-position-center .ua-slider-wrapper .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 96%;
    top: 47%;
    text-align: center;
    margin-left: 2%;
}
.navigation-arrow-position-center .ua-slider-wrapper .owl-nav button {
    border-radius: 50%;
    background: transparent;
    border-color: #fff;
    color: #fff;
    height: 70px;
    width: 70px;
    outline: none;
}

.ultraaddons-slider-container{
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.ua-slider-main-wrapper .owl-dots {
    text-align: center;
}

.ua-slider-main-wrapper button.owl-dot {}

.ua-slider-main-wrapper .nav-type-dots .owl-dots button.owl-dot {
    background: #717171;
    height: 10px;
    width: 10px;
    margin: 0 9px;
    padding: 0;
    position: relative;
    border-width: 0;
    transition: .3s all;
}
.ua-slider-main-wrapper .nav-type-dots .owl-dots button.owl-dot.active,
.ua-slider-main-wrapper .nav-type-dots .owl-dots button.owl-dot:active,
.ua-slider-main-wrapper .nav-type-dots .owl-dots button.owl-dot:focus,
.ua-slider-main-wrapper .nav-type-dots .owl-dots button.owl-dot:hover{
    border-width: 0;
    outline-width: 0;
    background: red;
}
.ua-slider-main-wrapper .nav-type-dots .owl-dots button.owl-dot:before {
    content: "";
    background: transparent;
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    left: -5px;
    /*transition: .3s all;*/
}
.ua-slider-main-wrapper .nav-type-dots .owl-dots button.owl-dot:hover:before,
.ua-slider-main-wrapper .nav-type-dots .owl-dots button.owl-dot.active:before {
    border: 2px solid red;
}
.ua-slider-main-wrapper .nav-type-dots .owl-dots button.owl-dot.active{
    
}
.ua-slider-main-wrapper button.owl-dot {}

@media (min-width:576px) {
    .ultraaddons-slider-container{
       max-width: 540px
   }
   
}

@media (min-width:768px) {
    .ultraaddons-slider-container{
        max-width: 730px
    }
}

@media (min-width:992px) {
    .ultraaddons-slider-container{
        max-width: 960px
    }
    

}
@media (min-width:1025px) {
    .ua-slider-wrapper .ua-hero-text {
        width: 53%;
    }

}

@media (min-width:1200px) {
    .ultraaddons-slider-container{
        max-width: 1170px;
    }
}
@media (max-width:1024px) {
    .ua-element.ua-element-slider .owl-nav, 
    .ua-element.ua-element-slider .owl-dots.nav-type-number{
            display: none;
    }
    .ua-slider-item .ua-slide-content-wrap .ua-hero-text h1 {
        font-size: 54px;
    }
    .ua-slider-wrapper .ua-hero-text {
        width: 75%;
    }
}
@media (max-width:767px) {
    .ua-slide-content-wrap {
        padding: 130px 0;
    }
    .ua-slider-item .ua-slide-content-wrap .ua-hero-text h1 {
        font-size: 44px;
    }
    .ua-slider-wrapper .ua-hero-text {
        width: 95%;
    }
    .elementor-widget-medilac_teambox .elementor-widget-container{
        /*border-color:#0000000a;*/
    }
}
