.ua-team-container {
  text-align: center;
}

.ua-team-container .member {
  position: relative;
  transition: ease all .5s;
  overflow: hidden;
}

.ua-team-container .member img {
  display: inline-block;
  box-shadow: 0 0 2px rgba(0,0,0, .2);
  object-fit: cover;

}

.ua-team-container .member h2 {
 font-weight: 700;
font-size: 20px;
color: #000;
letter-spacing: .18px;
line-height: 24px;
margin: 0 0 9px;
}

.ua-team-container .member-text {
  margin: 15px auto;
}
.ua-team-container .social_links {
  margin: 0;
  padding: 0;
}
.ua-team-container .social-icons {
  margin-bottom: 25px
}
.ua-team-container .social-icons ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.ua-team-container .social-icons a {
  margin-right: 22px;
  color: #363842;
  font-size: 16px
}

.ua-team-container .social-icons a:hover {
  color: #c81a3b
}
.ua-team-container .team-content-wrap {
  padding: 15px 0px;
}
.ua-team-container .ua-team .who {
  font-size: 14px;
  color: #ACACAC;
}