.ua-testimonial-box{
  padding: 20px;
  }
    .ua-testimonial-box .client-avatar img {
      border-radius: 50%;
    }
    .customer-review i {
      color: #FF9900;
      font-size: 20px;
    }
    .ua-testimonial-box .client-quote-box .quote-title {
      font-size: 32px;
      margin: 15px;
    }
    .quote-icon{
      margin:15px 0;
    }