/*  Testimonial CSS
-------------------------------------------*/
/* Testimonial Section Style one */
.ua-testimonial-wrapper .section-title.v2 {
    width: 60%;
}

.ua-testimonial-wrapper .ultraaddons-home-container-fluid {
    padding-left: calc((100% - 1170px) / 2 + 15px);
    padding-right: 0;
}

.ua-testimonial-wrapper.owl-carousel .owl-stage {
    padding-left: 0;
}

.testimonial-slider{
    position: relative;
}



.ua-testimonial-wrapper .client-quote-box span.quote-icon {
  color: #0FC392;
  font-size: 37px;
}

.ua-testimonial-wrapper .client-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-avatar {
    border: 4px solid #0FC392;
    border-radius: 50%;
    margin-right: 18px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.user-name p {
  font-size: 24px;
  font-family: "Roboto",sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.2;
  margin: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.user-name span {
  color: #5C6B79;
}
.ua-testimonial-wrapper .owl-item .client-quote-box:hover span.quote-icon,
.ua-testimonial-wrapper .owl-item  .client-quote-box:hover p,
.ua-testimonial-wrapper .owl-item  .client-quote-box:hover  span{
    color:#fff;
}
.ua-testimonial-wrapper{
  padding:50px;
  background:#b6dcfe;
  border:1px solid #ddd
}
.ua-testimonial-wrapper .owl-item  .client-quote-box:hover .user-avatar{
    border-color:#2BE1B0;
}
.ua-testimonial-wrapper .owl-item  .client-quote-box:hover  {
    background: #0FC393;
}

.ua-testimonial-wrapper .owl-nav{
    position: absolute;
    top:-120px;
    right: 0;
    z-index: 9;
    padding-right: calc((100% - 1170px) + 30px);
}

.elementor-align-left .ua-testimonial-wrapper .client-info {
    justify-content: flex-start;
}
.elementor-align-right .ua-testimonial-wrapper .client-info {
    flex-flow: row-reverse;
}
.elementor-align-center .ua-testimonial-wrapper .client-info {
    justify-content: center;
    flex-direction: column;
}
.elementor-align-right .ua-testimonial-wrapper .client-info .user-avatar {
    margin: 0 0 0 18px;
}
.elementor-align-center .ua-testimonial-wrapper .client-info .user-avatar {
    margin: 0 0 18px;
}
