
/*********** UltraAddons Style - In Plugin List ****************/
/*.ultraaddons-color-heading,*/
p.ultraaddons-info,
table.wp-list-table.widefat.plugins tr[data-slug='ultraaddons-elementor-lite'] td.plugin-title.column-primary strong,
#elementor-panel-category-addons-ultra-elementor .elementor-panel-category-title{
    color: #db3157;
    background: linear-gradient(to right, #532d70 0%, #db3157 45%);
    background: -webkit-linear-gradient(to right, #532d70 4%, #db3157 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*transition: 10s all;*/
    animation-name: ultraaddons-background-animation !important;
    animation-duration: 5.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
/*.ultraaddons-color-heading:hover,*/
p.ultraaddons-info:hover,
table.wp-list-table.widefat.plugins tr[data-slug='ultraaddons-elementor-lite']:hover td.plugin-title.column-primary strong,
#elementor-panel-category-addons-ultra-elementor:hover .elementor-panel-category-title {
    background: linear-gradient(to right, #ff0039 0%,#411365 45%);
    background: -webkit-linear-gradient(to right, #ff0039 0%,#411365 100%, #ff0039 68%);
    /*#411365*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes ultraaddons-background-animation {
  0% {
    background: linear-gradient(to right, #532d70 0%, #db3157 45%);
    background: -webkit-linear-gradient(to right, #532d70 4%, #db3157 58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
  100% {
    background: linear-gradient(to right, #532d70 40%, #db3157 95%);
    background: -webkit-linear-gradient(to right, #532d70 40%, #db3157 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/*********** UltraAddons Style - In Plugin List | End Here ****************/

/****************** Menu Text in Dashboard **********************/
li#toplevel_page_ultraaddons-elementor-light .wp-menu-image img {
    max-width: 20px;
}
li#toplevel_page_ultraaddons-elementor-light.current .wp-menu-image img {
    opacity: 1;
}

/*#adminmenu a.toplevel_page_ultraaddons-elementor{
    background: linear-gradient(to right, #ff0039 41%,#9822f4 100%)
    background: -webkit-linear-gradient(to right, #ff0039 0%,#411365 100%, #9822f4 68%);
    #411365
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/
/****************** Menu Text in Dashboard | END **********************/






/***** Menu Page Start*******/
.ultraaddons-license-details, .ultraaddons-section-area {
    background: #fff;
    padding: 10px 30px 50px;
    border-radius: 3px;
    margin-top: 20px;
    color: #000;
    webkit-box-shadow: 0 5px 40px 0 rgba(10, 10, 25, .1);
    -moz-box-shadow: 0 5px 40px 0 rgba(10, 10, 25, .1);
    box-shadow: 0 5px 40px 0 rgb(10 10 25 / 10%);
}
.ultraaddons-admin-wrapper {
    background: transparent;
    padding: 0;
    border-radius: 0;
    margin-top: 0;
    color: #000;
    max-width: 100%;
}

.about-wrap h3 {
    margin: 1.25em 0 .6em;
    font-size: 1.4em;
    line-height: 1.5;
}
.system-status-table {
    width: 100%;
}
.system-status-table tr td {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
h1.ultraaddons-color-heading {
    font-weight: 900;
}
p.ultraaddons-info {
    font-size: 22px;
}
/***** Menu Page End*******/