/*.elementor-edit-area {
    width: 100%;
}*/
.elementor-panel .elementor-element-wrapper .icon i.ultraaddons:after {
    content: "";
    font-size: 11px;
    position: absolute;
    right: 2px;
    top: 2px;
    background: url(../images/logo/UltraAddons-Animation-Favicon-small) center center;
    padding: 2px 5px;
    color: white;
    width: 18px;
    height: 18px;
    background-size: cover;
    opacity: 0.4;
}
.elementor-panel .elementor-element-wrapper .elementor-element:hover .icon i.ultraaddons:after {
opacity: 1;
}