/*.elementor-edit-area {
    width: 100%;
}*/
/*.elementor-panel .elementor-element-wrapper .icon i.ultraaddons:after {
    content: "";
    font-size: 11px;
    position: absolute;
    right: 2px;
    top: 2px;
    background: url(../images/logo/UltraAddons-Animation-Favicon-small.gif) center center;
    padding: 2px 5px;
    color: white;
    width: 18px;
    height: 18px;
    background-size: cover;
    opacity: 0.4;
}*/

.elementor-control .elementor-control-content .elementor-panel-heading-title i.ultraaddons.ua_icon.ua_icon_small {
    display: block;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 12px;
    right: 21px;
    background: url(../images/svg-icon/black.svg) no-repeat;
    background-size: contain;
}
.elementor-control.elementor-open .elementor-control-content .elementor-panel-heading-title i.ultraaddons.ua_icon.ua_icon_small {
    background-image: url(../images/svg-icon/color.svg);
}
.elementor-panel .elementor-element-wrapper .elementor-element .icon i.ultraaddons:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 14px;
    height: 14px;
    background: url(../images/svg-icon/black.svg) no-repeat;
    background-size: contain;
}
.elementor-panel .elementor-element-wrapper .elementor-element:hover .icon i.ultraaddons:after{
    background-image: url(../images/svg-icon/color.svg);
}

.elementor-control.elementor-control-_section_wrapper_link .elementor-control-content,
.elementor-control.elementor-control-_section_hover_animation .elementor-control-content,
.elementor-control.elementor-control-_section_ulltra_effects .elementor-control-content
{
    background: #fffef6c7;
    /*background: #fffef6;*/
}

.elementor-control.elementor-control-_section_ulltra_effects .elementor-panel-heading-title.elementor-section-title {
    color: #ff5722;
}


/*
.elementor-panel .elementor-element-wrapper {
    width: 33% !important;
}
.elementor-control .elementor-control-content .elementor-panel-heading-title {
    color: #0b96ff;
    font-weight: 700;
}
.elementor-panel .elementor-element-wrapper .elementor-element .icon{font-size: 20px;}*/