
.uicon-ultraaddons:before { content: '\e800'; } /* '' */
.uicon-countdown:before { content: '\e801'; } /* '' */
.uicon-icon-box:before { content: '\e802'; } /* '' */
.uicon-price-table:before { content: '\e803'; } /* '' */
.uicon-progress-bar:before { content: '\e804'; } /* '' */
.uicon-review:before { content: '\e805'; } /* '' */
.uicon-slider:before { content: '\e806'; } /* '' */
.uicon-team-member:before { content: '\e807'; } /* '' */